@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  margin-left: 0 !important;
}

.about-image {
  max-width: 7rem;
}

.swiper {
  position: absolute;
  top:0;
  left:0;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1.5rem !important;
}

.swiper-button-next, .swiper-button-prev {
  color: white !important;
}

.swiper-pagination-bullet {
  width: 12px  !important;
  height: 12px  !important;
  opacity: 1 !important;
  border: solid 1px #fff;
}

.swiper-button-next, .swiper-button-prev {
  top: 90% !important;
}

.swiper-button-prev {
  left: 17rem  !important;
}

.swiper-button-next {
  right: 17rem  !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-pagination {
  position: relative !important;
}